<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Welcome on Flykke" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Flykke is a social platform to discover and concretely support content creators and charities freely thanks to a smart system of advertisement display." %>">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon-64-2.png' %>
        <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="logo-hand.png" /><![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />

<!--     FB meta tags-->
    <meta property="og:url"                content="http://www.flykke.com" />
    <meta property="og:site_name"          content="FLYKKE" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Add Meaning To The Likes You Give" />
    <meta property="og:description"        content="Discover a fairer way of liking and concretely help freely your favorite content creators & charities." />
    <meta property="og:image"              content="http://www.flykke.com/images/App-logo-Flykke-640x442.png" />
    <meta property="fb:app_id"              content="1683167338562199" />

    <link href='/assets/webfontkit-arista2.0/_index.scss' rel='stylesheet' type='text/css' charset='utf-8'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Varela+Round' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>


    <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXX-X']);
    _gaq.push(['_trackPageview']);

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-75238419-1', 'auto');
      ga('send', 'pageview');
      setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])",15000);
    </script>
  </body>
</html>
